---
---

@import "{{ site.theme }}";


#banner .fork {
	position: fixed;
	left: 50%;
	margin-left: -325px;
	padding: 0px;
	line-height: 14px;
	font-size: 14px;
    margin-top: 0%;
    background-color: transparent;
}

body {
    background-color: #f7fafd !important;
    background: none;
}
header {
    background-color: #f7fafd !important;
    background: none;
    box-shadow: none;
}

header h1 {
    color: #569099;
    text-shadow: none;
}

#banner {
    background-color: #569099;
    border: none;
}
#banner .button {
    background: transparent;
    border: none;
    font-size: 18px;
    box-shadow: none;
}
a strong {
    color: white;
}

#banner .button:hover {
	background: linear-gradient(#CBDEE2, #A4C6CC);
	background-color: #ffeca0;
}

td:first-child {
	border-left: 1px solid #569099;
}